<div class="jumbotron">
    <h3>Match overview</h3>
</div>

<div ng-controller="matchesCtrl">
    <div class="table-responsive" style="margin-left: auto; margin-right: auto;width: 80%">
        <table class="table table-striped">
            <thead>
            <tr><th>Team1</th><th>Score1</th><th>Team2</th><th>Score2</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in matches | orderBy: '[]': true">
                <td>{{match.player1.name + " & " + match.player2.name}}</td>
                <td>{{match.score1}}</td>
                <td>{{match.player3.name + " & " + match.player4.name}}</td>
                <td>{{match.score2}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>