
<form>
    <div class="list">
        <ul class="list-group">
        <li  class="list-group-item ">
            <select ng-model="match.player1" ng-options="player.name for player in players"></select>
        </li >
        <li  class="list-group-item ">
            <select ng-model="match.player2" ng-options="player.name for player in players"></select>
        </li >
        <li  class="list-group-item ">
            <select ng-model="match.score1" ng-options="n for n in [] | range:0:11"></select>
        </li >
        <li  class="list-group-item ">
            <select ng-model="match.player3" ng-options="player.name for player in players"></select>
        </li >
        <li  class="list-group-item ">
            <select ng-model="match.player4" ng-options="player.name for player in players"></select>
        </li >
        <li  class="list-group-item ">
            <select ng-model="match.score2" ng-options="n for n in [] | range:0:11"></select>
        </li >
        </ul>
    </div>

    <div id="confirmDialog">
        <button ng-click="newMatch(match)" >Create Match</button>
    </div>
</form>




