
<div class="jumbotron">
    <h3>Player overview</h3>
</div>

<div ng-controller="playersCtrl">
    <div class="table-responsive" style="margin-left: auto; margin-right: auto;width: 80%">
        <table class="table table-striped">
            <thead>
            <tr><th>Playername</th><th>Rating</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players | orderBy:'-score'">
                <td>{{player.name}}</td>
                <td>{{player.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>